.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  width: 150px;
  background: #000;
  cursor: pointer;
}

span.google-blue {
  color: #4285f4;
}

span.google-red {
  color: #ea4335;
}

span.google-yellow {
  color: #fbbc05;
}

span.google-green {
  color: #34a853;
}
