input {
  width: 100px;
}

.home-container {
  display: flex;
  justify-content: center;
  flex-flow: row-reverse wrap;
  margin-top: 60px;
}

.first-inner-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.second-inner-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.box-container {
  -webkit-box-shadow: 2.5px 2.5px 7.5px 2.5px #000000;
  box-shadow: 2.5px 2.5px 7.5px 2.5px #000000;
  background: rgb(42, 98, 255, 0.5);
}

.first-box-container {
  height: 310px;
  padding: 30px;
  width: 340px;
  border-radius: 20px;
}

.second-box-container {
  margin-top: 40px;
  height: 220px;
  padding: 30px;
  width: 340px;
  border-radius: 20px;
}

.third-box-container {
  height: 420px;
  width: 740px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
}

.fourth-box-container {
  margin-top: 40px;
  height: 110px;
  padding: 30px;
  border-radius: 20px;
}
