.profile-container {
  display: flex;
  flex-direction: column;
  height: 80px;
}

.greeting {
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.edit-profile {
  text-align: right;
  margin-bottom: 7px;
}

.profile-edit-btn {
  height: 25px;
  border-radius: 7px;
  color: #304ffe;
  font-weight: 500;
  width: 95px;
}
.profile-edit-btn:hover {
  background-color: #304ffe;
  color: #fff;
  transition: all 1s ease;
}

.edit-finish-btn {
  height: 25px;
  background-color: #fff;
  border-radius: 7px;
  border: none;
  width: 95px;
  margin-left: 5px;
}

.logout-container {
  text-align: right;
}

.logout-btn {
  height: 25px;
  border-radius: 7px;
  color: red;
  width: 95px;
  text-align: center;
}

.logout-btn:hover {
  background-color: red;
  color: #fff;
  transition: all 1s ease;
}
